.editorWindow {
  /* width: calc(100vw - 250px * 2); */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  /* padding: 0 250px; */
  background-color: var(--background-color2);
  display: flex;
  flex-direction: row;
}

.editorWindow nav {
  flex: 1;
}

.editorForm{
  flex: 2;
  position: relative;
  /* display: flex;
  justify-content: center; */
}
