.bookSliderContainer {
  overflow: hidden;
  overflow-y: auto;
  height: calc(100vh - 26px - 54px - 54px );
}

.bookSlider {
  display: flex;
  flex-direction: column;
}

.bookSlider a {
  all: unset;
  width: 215px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.bookSlider > a:first-child {
  background-color: var(--primary-color);
  /* border-left: 3px solid var(--border-left-color); */
}

.bookSlider > a:first-child p {
  color: var(--secondary-color);
}

.bookSlider a:hover {
  background-color: var(--secondary-color);
}

.bookSliderContainer {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) transparent;
}

.bookSliderContainer::-webkit-scrollbar-track {
  background: transparent;
}

.bookSliderContainer::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}
