@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Hind:wght@400;500&display=swap");

:root {
  --primary-color: #f2f2f3;
  --secondary-color: #797d82;

  --error-color: #b71c1c;
  --success-color: #22bb33;
  --info-color: #5bc0de;
  --warning-color: #f0ad4e;

  --background-color1: #46494f;
  --background-color2: #222328;

  --button-color1: #2e3136;
  --button-color2: #a3a6ac;

  --editor-selection-color: #f2f2f344;
  --editor-code-color: #b9b4a78c;
  --editor-dropdownmenu-color: #31343d;
  --table-color1: #9b9fa38c;
  --table-color2: #5f5f5f6c;
  --table-color3: #4c4d4e;
  --table-color: #ffffffcb;
}

:root {
  --font-size-small: 0.8125rem; /* 13px */
  --font-size-medium: 0.9375rem; /* 15px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-xlarge: 1.875rem; /* 30px */
  --font-size-xxlarge: 2.8125rem; /* 45px */
}

/* Адаптивність для менших екранів */
@media (max-width: 768px) {
  :root {
    --font-size-small: 0.75rem; /* 12px */
    --font-size-medium: 0.875rem; /* 14px */
    --font-size-large: 1rem; /* 16px */
    --font-size-xlarge: 1.5rem; /* 24px */
    --font-size-xxlarge: 2rem; /* 32px */
  }
}

/* Адаптивність для великих екранів */
@media (min-width: 1200px) {
  :root {
    --font-size-small: 0.875rem; /* 14px */
    --font-size-medium: 1rem; /* 16px */
    --font-size-large: 1.375rem; /* 22px */
    --font-size-xlarge: 2rem; /* 32px */
    --font-size-xxlarge: 3rem; /* 48px */
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) transparent;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    135deg,
    var(--background-color1),
    var(--background-color2)
  );
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

/* Click animation for all possible buttons */
button:active,
a:active {
  transform: scale(0.95);
}
