.container {
  position: relative;
  width: 250px;
}

.input {
  width: calc(100% - 0.5rem * 2);
  padding: 0 0.5rem;
  height: 30px;
  font-size: var(--font-size-medium);
  border: none;
}

.input:focus {
  outline: none;
}

.dropdown {
  position: absolute;
  background: var(--button-color1);
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  z-index: 100;
  box-sizing: border-box;
}

.item {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.item:hover {
  color: var(--button-color1);
  background-color: var(--button-color2);
}

