.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--chat-main-color);
  color: var(--primary-color);
  font-size: var(--font-size-medium);
}

.title {
  margin: 0;
}

.chatTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--editor-selection-color);
}

.together {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.messagesWrapper {
  flex: 1;
  padding: 1rem;
  border-radius: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  align-self: flex-end;
}

.messageInfo {
  display: flex;
  gap: 0.5rem;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.username {
  margin: 0;
  font-weight: 600;
}

.messageUserInfo {
  align-self: flex-end;
}

.messageSenderInfo {
  align-self: flex-start;
}

.message {
  max-width: 500px;
  border-radius: 0.5rem;
  padding: 0.6rem;
}

.messageSender {
  background-color: var(--table-color2);
}

.messageUser {
  background-color: var(--table-color1);
}

.date {
  font-size: var(--font-size-small);
  margin: 0;
}

.bookItem {
  all: unset;
  cursor: pointer;
}

.text {
  margin: 0;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  display: block;
}

.inputWrapper {
  position: relative;
}

.bookAttachment {
  max-width: 350px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--table-color1);
  border-radius: 0.5rem;
  padding: 0.6rem;
  transition: all 0.2s ease;
}

.bookAttachment:hover {
  background-color: var(--table-color3);
}

.actions {
  height: 100%;
  position: absolute;
  right: 1rem;
  top: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.select {
  border: none;
  padding: 0.5rem;
  height: 80%;
  max-width: 150px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.bookImage {
  border-radius: 4px;
  object-fit: cover;
}

.bookTitle {
  margin: 0;
  font-weight: 500;
  color: var(--primary-color);
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
  display: block;
}

.input {
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  background-color: var(--table-color1);
  font-family: "Montserrat", sans-serif;
  border: none;
  width: calc(100% - 0.5rem * 2);
  padding: 0.5rem;
}

.input:focus {
  outline: none;
}

.buttonSend {
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--primary-color);
  transition: all 0.2s ease;
}

.buttonSend:hover {
  color: var(--button-color2);
}

.buttonSend svg {
  width: 20px;
  height: 20px;
}
