.container {
  padding: 2rem;
  color: var(--primary-color);
}

.header {
  font-size: 2rem;
  font-weight: bold;
  color: var(--info-color);
  margin-bottom: 2rem;
}

.chartBlock {
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 16px;
}