.badgeWrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10%;
  width: fit-content;
  padding: 2px 6px 3px 6px;
  background-color: var(--error-color);
  color: var(--primary-color);
  border-radius: 9px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(50%);
}
