.form {
  width: 350px;
  padding: 50px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  box-shadow: 10px 10px 30px var(--button-color1);
}

.nameWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.submitBlock,
.forgotBlock {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.submitBlock {
  gap: 10px;
}

.form a {
  all: unset;
  position: relative;
  cursor: pointer;
  font-size: var(--font-size-medium);
  font-weight: bold;
  transition: transform 0.2s ease;
}

.helpText a {
  color: var(--button-color1);
}

.forgotBlock a {
  color: var(--secondary-color);
}
