.title {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  margin: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuBtn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.menuBtn svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--primary-color);
  transition: all 0.2s ease;
}

.menuBtn svg:hover {
  color: var(--background-color1);
}

.menuWrapper {
  position: relative;
}

.categoryMenu,
.menu {
  position: absolute;
  top: 10px;
  right: -100px;
  width: 100px;
  z-index: 111;
}

.categoryMenu {
  top: 10px;
  right: -110px;
}

.menuItem {
  width: 110%;
  min-height: 30px;
  padding: 5px 0;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-medium);
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--button-color1);
  transition: all 0.2s ease;
}

.menuItem:hover {
  color: var(--button-color1);
  background-color: var(--primary-color);
}

.deleteBtn {
  background-color: var(--error-color);
}

.deleteBtn:hover {
  color: var(--error-color);
}
