.title {
  font-size: var(--font-size-small);
  color: var(--primary-color);
  margin: 0;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}