.searchBookItem {
  all: unset;
  width: 100%;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  cursor: pointer;
  color: var(--button-color1);
  transition: all 0.2s ease;
}

.searchBookItem::after {
  content: "";
  position: absolute;
  bottom: -1px;
  right: 50%;
  height: 2px;
  width: 100%;
  transform: translateX(50%);
  background-color: var(--button-color2);
}

.searchBookItem > div:first-child {
  margin: 20px;
  margin-right: 0;
  box-shadow: -5px 5px 10px var(--button-color1);
}

.infoContainer {
  height: calc(100% - 20px * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  margin-left: 0;
}

.searchBookItem h3 {
  margin: 0;
  font-size: var(--font-size-medium);
  -webkit-line-clamp: 1;
}

.year,
.synopsis {
  margin: 0;
  font-size: var(--font-size-small);
}

.searchBookItem h3,
.synopsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.synopsis {
  -webkit-line-clamp: 2;
}

.searchBookItem:hover {
  background: var(--editor-selection-color);
  color: var(--second-color);
}
