.container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 40%;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  font-weight: 600;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  z-index: 100;
  background-color: var(--button-color1);
  position: absolute;
  left: 50%;
  top: 100px;
  width: fit-content;
  transform: translateX(-50%) translateY(-50%);
}

.scaleContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.divider {
  width: 2px;
  height: 24px;
  background: var(--primary-color);
  margin: 0 0.5rem;
}

.toolbarButton {
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 2px;
  transition: background-color 0.3s, color 0.3s;
}

.toolbarButton svg {
  height: 20px;
  width: 20px;
}

.toolbarButton:hover:not(:disabled) {
  background-color: var(--secondary-color);
}

.toolbarButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.toolbarButton.active {
  color: var(--button-color1);
  background-color: var(--table-color);
}

.scale {
  text-align: center;
}

.viewerContainer {
  flex: 1;
  overflow-y: auto;
  padding: 2rem;
}

.document {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.pageWrapper {
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  scroll-margin-top: 2rem;
  position: relative;
}

.page {
  width: 100%;
  height: 100%;
}

.page :global(.react-pdf__Page__canvas) {
  width: 100% !important;
  height: 100% !important;
}

.page :global(.react-pdf__Page__textContent) {
  width: 100% !important;
  height: 100% !important;
  user-select: text;
  cursor: text;
  opacity: 0.2;
}

.viewerContainer .page :global(.react-pdf__Page__textContent ::selection) {
  background-color: var(--table-color3);
  color: inherit;
}

.page :global(.react-pdf__Page__textContent ::selection) {
  background-color: transparent;
  color: inherit;
}

.rangeSelectionMode
  .pageWrapper[data-selection-mark="start"]
  .page
  :global(.react-pdf__Page__textContent ::selection) {
  background-color: var(--success-color) !important;
  border-radius: 4px;
}

.rangeSelectionMode
  .pageWrapper[data-selection-mark="end"]
  .page
  :global(.react-pdf__Page__textContent ::selection) {
  background-color: var(--error-color) !important;
  border-radius: 4px;
}

.page :global(.react-pdf__Page__annotations) {
  width: 100% !important;
  height: 100% !important;
}

.loading {
  color: var(--primary-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
