.newChallengeButton{
  position: fixed;
  bottom: 50px;
  right: 75px;
  width: 50px;
  height: 50px;
}

.menu {
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  transform: translateX(-50%);
  background-color: var(--button-color1);
  transition: all 0.2s ease;
}

.menuItem {
  width: 100%;
  height: fit-content;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-size-small);
  font-weight: 600;
  color: var(--primary-color);
  background-color: transparent;
  transition: all 0.2s ease;
}

.menuItem:hover {
  color: var(--success-color);
}
