.notificationBar {
  height: 26px;
  width: fit-content;
  margin-right: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.button {
  width: 20px;
  height: 20px;
  font-family: inherit;
  font-size: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--primary-color);
}

.button svg {
  width: 20px;
  height: 20px;
  transition: all 0.2s ease;
}

.button:hover svg,
.authBtn:hover {
  color: var(--secondary-color);
}

.notificationBar p {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--primary-color);
}

.authActions {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 0.25rem;
}

.authBtn {
  cursor: pointer;
  font-family: inherit;
  width: fit-content;
  height: fit-content;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--primary-color);
  transition: all 0.2s ease;
  background-color: transparent;
}

.loginBtn {
  color: var(--button-color2);
}
