.fullBookDescription, .reviewContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  gap: 100px;
  color: var(--primary-color);
}

.reviewContainer {
  margin-top: 1rem;
}

.part {
  flex: 1;
}
